  /**
 * styles.css
 *
 * a1.jodymoore.net
 *
 * Global CSS.
 */

 #top{
  text-align: center;
 }

 #mimg1 {      
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

#mimg {			
  width: 700px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

#quikPizza {     
  border-radius: 10px;
  width: 80px;
  height: 47px;
  margin-left: 40px;
  font-weight: bold;
  color: blue;
}

#qpa {     
  border-radius: 10px;
  width: 80px;
  height: 47px;
}

#iot {     
  border-radius: 10px;
  width: 80px;
  height: 47px;
}

#iotbtn {     
  font-style: 20px;
  border-radius: 10px;
  width: 80px;
  height: 47px;
  background-color: black;
}


#dvpg{
  color: white;
   font-style: 20px;
  border-radius: 10px;
  width: 250px;
  height: 47px;
  background-color: black;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}


  
#cap {
  font-weight: bold;
   color: blue;
} 

#devpic {     
  border-radius: 10px;
  width: 80px;
  height: 47px;
  background-color: black;
}

#nav{
  margin-left: 2%;
}


#top{  
  border-top: 5px solid black;    
  background-color: #CCCCCC;
  height: 130px;
  border-bottom: 5px solid black;
}

#middle{      
padding-top: 50px;

}

#bottom{      
  border-top: 5px solid black;    
  background-color: #CCCCCC;
  margin-top: 16.5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#imgpaws{
  margin-left: 0;
  display: block;
    padding-bottom: 3%;
}

#middle nav{
  text-decoration: none;
  list-style-type: none;
}

.post {

}

.post-title{

}
#PAWS{
  margin-left: 5%;
  width: 25%;
  height: 30%;
  padding-top: 3%;

}

#bottom img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}


