  /**
 * styles.css
 *
 * a1.jodymoore.net
 *
 * Global CSS.
 */

 #top{
  text-align: center;
 }

#top img {			
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#middle img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

#bottom img {
  margin-left: auto;
  margin-right: auto;
  display: block
}
